* {
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.004em;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;    

    background-color: rgba(238, 249, 191, 1);
}

header {
    width: 100%;
    min-height: 63px;
    height: auto;

    margin: 30px auto;
    text-align: center;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;

    color: #75B79E;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin: 20px auto;
    gap: 34px;

    width: 85%;
}

.card {
    width: 117px;
    height: 146px;
    position: relative;
}

.card img {
    width: 100px;
    height: 100px;
}

.card:hover {
    cursor: pointer;
}

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.back-face {
    transform: rotateY(180deg);
}

.rotate-back {
    transform: rotateY(0deg);
}

.rotate-front {
    transform: rotateY(-180deg);
}

.timer {
    position: fixed;
    top: 16px;
    right: 18px;

    width: 46px;
    height: 47px;

    font-size: 36px;
    line-height: 42px;
    
    color: #86BD8D;
}

.round-counter {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 20px;
    right: 20px;

    width: 46px;
    height: 47px;
    border: 1px solid black;
    border-radius: 50%;  

    font-size: 24px;
    line-height: 42px;

    color: #86BD8D;
}

@media screen and (max-width: 375px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 50px;
        align-items: center;
    }
}

@media screen and (max-width: 700px) {
    .container {
        width: 70%;
    }
    .timer {
        right: 7px;
        top: 93%;        
    }
    .round-counter {
        bottom: 80px;
        right: 11px;
    }
}